{%- render 'section-spacing-collapsing' -%}

{%- assign background_color = article.metafields.banner.background_color.value | default: section.settings.banner_background -%}
{%- assign text_color = article.metafields.banner.text_color.value | default: section.settings.banner_text_color -%}
{%- assign article_image = section.settings.image | default: article.image -%}

<style>
  #shopify-section-{{ section.id }} .article-banner {
    --article-banner-background: {%- if background_color != blank -%}{{ background_color.rgb }}{%- else -%}var(--text-color) / 0.05{%- endif -%};
    --article-banner-badge-background: var(--text-color) / 0.12;

    {% if text_color != blank %}
      --text-color: {{ text_color.rgb }};
    {% endif %}
   }

  #shopify-section-{{ section.id }} {
    --article-max-width: {{ section.settings.content_width }};
    --article-banner-column-gap: var(--spacing-10);
    --article-banner-grid: auto / auto;
    --article-banner-before-height: 100%;
    --article-banner-max-width: var(--container-max-width);
    --article-banner-content-padding-block-start: {% if section.settings.allow_transparent_header %}var(--spacing-5){% else %}var(--spacing-10){% endif %};
    --article-banner-content-padding-block-end: var(--spacing-10);
    --article-banner-content-padding-inline: var(--container-gutter);
    --article-banner-image-overlay: {% if section.settings.layout == 'image_text_overlay' %}{{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity | divided_by: 100.0 }}{% else %}0 0 0 / 0{% endif %};

    {%- if section.settings.allow_transparent_header -%}
      --article-banner-padding-block-start: var(--header-height);

      margin-block-start: calc(-1 * var(--header-height) * var(--section-is-first));
    {%- endif -%}
  }

  {%- if article_image == blank -%}
    #shopify-section-{{ section.id }} {
      --article-banner-grid-area: auto;
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --article-banner-content-padding-block-start: {% if section.settings.allow_transparent_header %}var(--spacing-4){% else %}var(--spacing-12){% endif %};
        --article-banner-content-padding-block-end: var(--spacing-12);
      }
    }
  {%- endif -%}

  {%- if article_image != blank -%}
    @media screen and (min-width: 1150px) {
      #shopify-section-{{ section.id }} {
        --article-banner-before-height: calc(100% - (var(--article-banner-image-offset) * min(100vw, var(--container-max-width))));
        --article-banner-image-offset: {% if section.settings.layout == 'content_first' %}0.12{% else %}0.07{% endif %};
        --article-banner-grid: {% if section.settings.layout == 'image_left_text_right' %}"image content" / {% if article_image.aspect_ratio <= 1 %}5fr 7fr{% else %}7fr 5fr{% endif %}{% elsif section.settings.layout == 'image_text_overlay' %}auto{% endif %};

        {% unless section.settings.allow_transparent_header %}
          --article-banner-padding-block-start: var(--spacing-9);
        {% endunless %}

        {%- if section.settings.layout == 'image_text_overlay' or section.settings.layout == 'content_first' -%}
          --article-banner-grid-area: {% if section.settings.layout == 'image_text_overlay' %}1 / -1{% elsif section.settings.layout == 'content_first' %}auto{% endif %};
        {%- endif -%}

        {%- unless section.settings.layout == 'image_text_overlay' -%}
          --article-banner-content-padding-inline: 0;
        {%- endunless -%}

        {%- if section.settings.layout == 'image_left_text_right' -%}
          --article-banner-vertical-alignement: start;
          --article-banner-meta-vertical-alignment: flex-start;
          --article-banner-horizontal-alignement: flex-end;
          --article-banner-content-padding-block-end: calc((100% - var(--article-banner-before-height)) + var(--spacing-10));
        {%- elsif section.settings.layout == 'image_text_overlay' -%}
          --article-banner-badge-background: 0 0 0 / 0 ;
        {%- else-%}
          {% if section.settings.allow_transparent_header %}
            --article-banner-content-padding-block-start: var(--spacing-12)
          {% endif %};

          --article-banner-max-width: 1000px;
        {%- endif -%}
      }
    }

    @media screen and (min-width: 1400px) {
      #shopify-section-{{ section.id }} {
        {%- if section.settings.layout == 'image_left_text_right' -%}
          --article-banner-column-gap: var(--spacing-16);
          --article-banner-content-padding-block-end: calc((100% - var(--article-banner-before-height)) + var(--spacing-20));
        {%- endif -%}
      }
    }
  {%- endif -%}
</style>

<div class="article" {% if section.settings.allow_transparent_header %}allow-transparent-header{% endif %}>
  {%- render 'article-banner', show_date: section.settings.show_date, show_author: section.settings.show_author, show_comments_count: section.settings.show_comments_count, layout: section.settings.layout, article_image: article_image, section: section, banner_height_mobile: section.settings.banner_height_mobile, banner_height_desktop: section.settings.banner_height_desktop -%}

  <div class="container">
    <div class="article-content v-stack gap-8 sm:gap-10">
      <div class="prose">
        {{ article.content }}
      </div>

      {%- if section.settings.show_share_buttons -%}
        <div class="share-buttons gap-3">
          {%- assign share_label = 'general.social.share' | t -%}
          {%- assign share_url = shop.url | append: article.url -%}

          <button class="button button--subdued button--lg w-full h-stack gap-3 align-center justify-center sm:hidden" is="share-button" style="--button-background: 0 0 0 / 0" share-url="{{ share_url | escape }}" share-title="{{ article.title | escape }}">
            {%- render 'icon' with 'share', with: 18, height: 18 -%}
            {{- 'general.social.share' | t -}}
          </button>

          {% comment %} <span class="bold sm-max:hidden">{{- share_label -}}</span> {% endcomment %}

          {%- assign share_text = article.title | url_param_escape -%}
          {%- assign share_url_encoded = share_url | url_param_escape -%}

          <ul class="h-stack sm-max:hidden gap-3" role="list">
            {%- comment -%} Instagram {%- endcomment -%}
            <li><a href="https://www.instagram.com/" target="_blank" rel="noopener" class="share-buttons__item" aria-label="Share on Instagram">
              <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1282_6448)">
                  <path d="M4.99669 22.2772H16.5619C19.3187 22.2772 21.5586 19.9689 21.5586 17.1349V5.14233C21.5586 2.30518 19.3127 0 16.5619 0H4.99669C2.23989 0 0 2.3083 0 5.14233V17.1349C0 19.9689 2.24292 22.2772 4.99669 22.2772ZM1.81368 5.14233C1.81368 3.3349 3.24044 1.86655 4.99669 1.86655H16.5619C18.3182 1.86655 19.7449 3.3349 19.7449 5.14233V17.1349C19.7449 18.9423 18.3182 20.4107 16.5619 20.4107H4.99669C3.24044 20.4107 1.81368 18.9423 1.81368 17.1349V5.14233Z" fill="#A073B7"/>
                  <path d="M10.7825 16.5928C13.7055 16.5928 16.0845 14.1445 16.0845 11.1362C16.0845 8.12797 13.7055 5.67969 10.7825 5.67969C7.85941 5.67969 5.48047 8.12797 5.48047 11.1362C5.48047 14.1445 7.85941 16.5928 10.7825 16.5928ZM10.7825 7.54623C12.705 7.54623 14.2708 9.15768 14.2708 11.1362C14.2708 13.1148 12.705 14.7262 10.7825 14.7262C8.85996 14.7262 7.29415 13.1148 7.29415 11.1362C7.29415 9.15768 8.85996 7.54623 10.7825 7.54623Z" fill="#A073B7"/>
                  <path d="M17.03 3.74532C18.8134 4.50749 17.704 7.25753 15.9206 6.49847C14.1371 5.7363 15.2465 2.98314 17.03 3.74532Z" fill="#A073B7"/>
                </g>
                <defs>
                  <clipPath id="clip0_1282_6448">
                    <rect width="21.5586" height="22.2772" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </a></li>
            
            {%- comment -%} Facebook {%- endcomment -%}
            <li><a href="{% render 'share-link', host: 'facebook', title: article.title, url: article.url %}" class="share-buttons__item" aria-label="Share on Facebook">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.7624 11.9248C23.7624 18.0218 19.2033 23.0493 13.3202 23.7624V15.5691H16.5343L17.2011 11.9248H13.3202V10.6365C13.3202 8.71037 14.073 7.97008 16.0215 7.97008C16.6265 7.97008 17.1137 7.98487 17.3941 8.01444V4.71079C16.8627 4.56292 15.5639 4.41457 14.8111 4.41457C10.8409 4.41457 9.01069 6.29584 9.01069 10.355V11.9248L6.56079 11.9248L6.56079 15.5691H9.01069L9.01069 23.4986C3.83572 22.2102 4.88945e-07 17.5176 0 11.9248C-5.75742e-07 5.33899 5.31944 5.73646e-07 11.8812 0C18.4429 -5.73646e-07 23.7624 5.33898 23.7624 11.9248Z" fill="#A073B7"/>
              </svg>
            </a></li>
            
            {%- comment -%} X (Twitter) {%- endcomment -%}
            <li><a href="{% render 'share-link', host: 'twitter', title: article.title, url: article.url %}" class="share-buttons__item" aria-label="Share on X">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1282_6454)">
                  <path d="M18.6098 18.6711L11.8918 8.78026L11.1323 7.66163L6.32663 0.586343L5.92848 0H0.0234375L1.46362 2.12096L7.85323 11.5295L8.61273 12.6469L13.7466 20.2064L14.1449 20.7922H20.05L18.6098 18.6713V18.6711ZM14.8467 19.4384L9.51299 11.5849L8.75349 10.4669L2.56423 1.35365H5.22653L10.2318 8.72365L10.9913 9.8416L17.509 19.4383H14.8467V19.4384Z" fill="#A073B7"/>
                  <path d="M8.75318 10.4648L9.51268 11.5828L8.61225 12.6448L1.70365 20.7902H0L7.85275 11.5274L8.75318 10.4648Z" fill="#A073B7"/>
                  <path d="M19.3415 0L11.8943 8.78026L10.9939 9.8416L10.2344 8.72365L11.1348 7.66163L16.1794 1.71114L17.6378 0H19.3415Z" fill="#A073B7"/>
                </g>
                <defs>
                  <clipPath id="clip0_1282_6454">
                    <rect width="20.0495" height="20.7921" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </a></li>
            
            {%- comment -%} WhatsApp {%- endcomment -%}
            <li><a href="https://wa.me/?text={{ share_text }}%20{{ share_url_encoded }}" target="_blank" rel="noopener" class="share-buttons__item" aria-label="Share on WhatsApp">
              <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1282_6458)">
                  <path d="M18.2209 13.7687L15.9553 12.0875C15.6709 11.8757 15.3203 11.7883 14.9697 11.8454C14.6191 11.8992 14.3115 12.0909 14.1065 12.38L13.4053 13.3551C13.3689 13.4055 13.3821 13.3551 13.3656 13.4224C13.3656 13.4291 13.3226 13.4829 13.1969 13.5031C12.9852 13.5367 12.3502 13.4963 10.9776 12.38L10.8453 12.2825C9.39996 11.3041 9.16844 10.7023 9.13537 10.4871C9.11883 10.3761 9.14529 10.3223 9.14198 10.319C9.18828 10.2887 9.17506 10.2887 9.21144 10.2416L9.91262 9.26657C10.121 8.97742 10.207 8.62101 10.1508 8.26461C10.0945 7.90821 9.90931 7.59552 9.62487 7.38369L7.31958 5.67229C6.73085 5.23519 5.90068 5.36632 5.47071 5.96481L4.76292 6.95332C4.13781 7.82415 3.96913 9.0144 4.32303 10.0634C4.86876 11.6807 6.26119 13.3988 8.46395 15.1741C8.49372 15.2111 8.52679 15.2414 8.56648 15.2716C8.62271 15.312 8.67894 15.3523 8.73516 15.3893C8.78808 15.433 8.84431 15.4734 8.89723 15.5171C8.93361 15.5473 8.97661 15.5709 9.01961 15.5877C11.3547 17.178 13.3887 18.0018 15.0722 18.0388H15.1384C16.1835 18.0388 17.1791 17.5176 17.8108 16.6333L18.5186 15.6448C18.727 15.3557 18.813 14.9993 18.7567 14.6429C18.7005 14.2865 18.5054 13.9805 18.2209 13.7687Z" fill="#A073B7"/>
                  <path d="M17.7078 15.0535L17 16.042C16.5436 16.6775 15.8259 17.044 15.0817 17.0306C14.0134 17.007 12.1513 16.5598 9.31019 14.5761C6.58816 12.431 5.59924 10.7633 5.25195 9.73776C5.00059 8.99806 5.11635 8.15749 5.55624 7.54891L6.26734 6.5604C6.32026 6.48643 6.39633 6.43936 6.48232 6.42591C6.56832 6.41246 6.65762 6.43263 6.73038 6.48643L9.03567 8.19783C9.10844 8.25163 9.15474 8.32896 9.16797 8.41638C9.1812 8.5038 9.16136 8.59458 9.10844 8.66855L8.43041 9.61336C8.27165 9.7882 8.1129 10.1076 8.13936 10.5111C8.19228 11.3214 8.89676 12.1721 10.2793 13.1068L10.3785 13.1774C11.6882 14.2432 12.7036 14.6669 13.4776 14.4685C13.8645 14.371 14.1159 14.1222 14.2317 13.9137L14.9097 12.9689C15.0155 12.8176 15.2239 12.7874 15.3727 12.8949L17.6383 14.5761C17.7111 14.6299 17.7574 14.7072 17.7706 14.7946C17.7806 14.8921 17.7607 14.9829 17.7078 15.0535Z" fill="#A073B7"/>
                  <path d="M11.5 0C5.15962 0 0 5.24517 0 11.6907C0 14.4545 0.95916 17.1174 2.7088 19.2222L0.668105 23.267C0.578804 23.4452 0.601956 23.6638 0.727639 23.8184C0.823555 23.9361 0.965775 24 1.108 24C1.1543 24 1.20391 23.9933 1.25022 23.9798L6.72404 22.3256C8.22893 23.0249 9.83305 23.378 11.5 23.378C17.8404 23.378 23 18.1328 23 11.6873C23 5.2418 17.8404 0 11.5 0ZM11.5 22.3693C9.91904 22.3693 8.39761 22.0196 6.97541 21.3303C6.86296 21.2765 6.73727 21.2665 6.62151 21.3034L2.08039 22.6753L3.74403 19.3769C3.83664 19.1919 3.81018 18.9667 3.67127 18.8086C1.94478 16.8484 0.992235 14.3166 0.992235 11.6873C0.992235 5.79658 5.70535 1.00532 11.5 1.00532C17.2947 1.00532 22.0078 5.79658 22.0078 11.6873C22.0078 17.578 17.2947 22.3693 11.5 22.3693Z" fill="#A073B7"/>
                </g>
                <defs>
                  <clipPath id="clip0_1282_6458">
                    <rect width="23" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </a></li>
          </ul>
        </div>
      {%- endif -%}
    </div>

    
  </div>

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'navigation' -%}
        {%- render 'article-navigation', show_date: section.settings.show_date, show_author: section.settings.show_author, show_comments_count: section.settings.show_comments_count, block_attributes: block.shopify_attributes -%}

      {%- when 'comments' -%}
        {%- render 'article-comments', show_gravatar: block.settings.show_gravatar, comments_pagination: block.settings.comments_per_page, block_attributes: block.shopify_attributes -%}
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Blog post",
  "class": "shopify-section--main-article",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": false
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "label": "Content first",
          "value": "content_first"
        },
        {
          "label": "Image with text overlay",
          "value": "image_text_overlay"
        },
        {
          "label": "Image left content right",
          "value": "image_left_text_right"
        }
      ],
      "default": "content_first"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "If none is set, blog post image is used."
    },
    {
      "type": "range",
      "id": "banner_height_mobile",
      "label": "Banner Height (Mobile)",
      "min": 300,
      "max": 800,
      "step": 25,
      "unit": "px",
      "default": 475
    },
    {
      "type": "range",
      "id": "banner_height_desktop",
      "label": "Banner Height (Desktop)",
      "min": 400,
      "max": 1000,
      "step": 25,
      "unit": "px",
      "default": 475
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments_count",
      "label": "Show comments count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "color",
      "id": "banner_background",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "banner_text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "Body"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "label": "Small",
          "value": "750px"
        },
        {
          "label": "Medium",
          "value": "950px"
        },
        {
          "label": "Large",
          "value": "1150px"
        }
      ],
      "default": "750px"
    }
  ],
  "blocks": [
    {
      "type": "navigation",
      "name": "Prev/next blog posts",
      "limit": 1
    },
    {
      "type": "comments",
      "name": "Comments",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Configure your blog to allow comments. [Learn more](https://help.shopify.com/en/manual/online-store/blogs/managing-comments#allow-or-disable-comments-on-a-blog)"
        },
        {
          "type": "checkbox",
          "id": "show_gravatar",
          "label": "Show comments gravatar",
          "default": true
        },
        {
          "type": "range",
          "id": "comments_per_page",
          "label": "Comments per page",
          "min": 5,
          "max": 50,
          "step": 5,
          "default": 5
        }
      ]
    }
  ]
}
{% endschema %}